# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.db
*.sqlite3

# Django
/media/
staticfiles/
*.log

# Environment
.env
.env.*
!.env.example  # Keep sample env if you have one

# Virtualenv
venv/
env/
ENV/
.venv/

# OS / IDE
.DS_Store
Thumbs.db
.idea/
.vscode/
*.swp

# Git
.git
.gitignore

# Docker
Dockerfile
docker-compose*.yml
.dockerignore
