
services:
  web:
    build: .
    # command: python manage.py runserver 0.0.0.0:8000 #dev mode only
    command: gunicorn todo_project.wsgi:application --bind 0.0.0.0:8000
    volumes:
     - static_volume:/static
     - media_volume:/media
    expose:
       - 8000
    env_file:
      - .env
    depends_on:
      - db

  db:
    image: postgres:17
    env_file:
      - .env
    volumes:
      - postgres_data:/var/lib/postgresql/data
    ports:
      - "5432:5432"
  nginx:
    build:
      context: ./nginx
    ports:
    - "80:80"
    depends_on:
      - web
    volumes:
      - static_volume:/static
      - media_volume:/media
      - ./nginx/logs:/var/log/nginx


volumes:
  postgres_data:
  static_volume:
  media_volume:
